<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    <form action="/update/{{stud_data.sno}}" method="post">
    <div class="container">
    <!-- <input type="text" value="{{stud_data.sno}}" disabled> -->
    <input type="text" value="{{stud_data.username}}"  name="username">
    <input type="text" value="{{stud_data.age}}"  name="age">
    <input type="text" value="{{stud_data.address}}"  name="address">
    <input type="text" value="{{stud_data.course}}"  name="course">
    <input type="text" value="{{stud_data.duration}}"  name="duration">
</div>


<button class="button" type="submit" >Confirm Student</button>
</form>
</head>
<body>
    
</body>
</html> -->